USE [HospitalDatabase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [nvarchar](200) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[DoctorName] [nvarchar](200) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[Notes] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERRequests]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Specialization] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[AssignedDoctorId] [int] NULL,
	[AssignedDoctorName] [nvarchar](200) NULL,
 CONSTRAINT [PK_ERRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangoutParticipants]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangoutParticipants](
	[HangoutId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
 CONSTRAINT [PK_HangoutParticipants] PRIMARY KEY CLUSTERED 
(
	[HangoutId] ASC,
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hangouts]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hangouts](
	[HangoutID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[MaxParticipants] [int] NOT NULL,
 CONSTRAINT [PK_Hangouts] PRIMARY KEY CLUSTERED 
(
	[HangoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HighRiskMedicines]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HighRiskMedicines](
	[MedicineName] [nvarchar](200) NOT NULL,
	[WarningMessage] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_HighRiskMedicines] PRIMARY KEY CLUSTERED 
(
	[MedicineName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemBatches]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemBatches](
	[ItemId] [int] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[NumberOfPacks] [int] NOT NULL,
 CONSTRAINT [PK_ItemBatches] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[ExpirationDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Producer] [nvarchar](200) NOT NULL,
	[Price] [real] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[ImagePath] [nvarchar](500) NOT NULL,
	[NumberOfPills] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Label] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[DiscountPercentage] [real] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemSubstances]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemSubstances](
	[ItemId] [int] NOT NULL,
	[SubstanceName] [nvarchar](255) NOT NULL,
	[Concentration] [real] NOT NULL,
 CONSTRAINT [PK_ItemSubstances] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[SubstanceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalEvaluations]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalEvaluations](
	[EvaluationID] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [nvarchar](100) NOT NULL,
	[Symptoms] [nvarchar](2000) NOT NULL,
	[MedicationsList] [nvarchar](2000) NOT NULL,
	[Notes] [nvarchar](2000) NOT NULL,
	[EvaluationDate] [datetime2](7) NOT NULL,
	[DoctorId] [int] NULL,
 CONSTRAINT [PK_MedicalEvaluations] PRIMARY KEY CLUSTERED 
(
	[EvaluationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](2000) NOT NULL,
	[ActionButtonText] [nvarchar](100) NOT NULL,
	[RecipientStaffId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[OrderQuantity] [int] NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[PickUpDate] [date] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[IsExpired] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeriodNotes]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeriodNotes](
	[UserId] [int] NOT NULL,
	[NoteId] [int] NOT NULL,
	[NoteBody] [nvarchar](2000) NOT NULL,
	[IsDone] [bit] NOT NULL,
 CONSTRAINT [PK_PeriodNotes] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PharmacyHandovers]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PharmacyHandovers](
	[PharmacistId] [int] NOT NULL,
	[HandoverDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PharmacyHandovers] PRIMARY KEY CLUSTERED 
(
	[PharmacistId] ASC,
	[HandoverDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftSwapRequests]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftSwapRequests](
	[SwapId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftId] [int] NOT NULL,
	[RequesterId] [int] NOT NULL,
	[ColleagueId] [int] NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ShiftSwapRequests] PRIMARY KEY CLUSTERED 
(
	[SwapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](512) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[ContactInfo] [nvarchar](200) NOT NULL,
	[Available] [bit] NOT NULL,
	[LicenseNumber] [nvarchar](100) NOT NULL,
	[Specialization] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Certification] [nvarchar](200) NOT NULL,
	[YearsOfExperience] [int] NOT NULL,
	[HourlyRate] [float] NOT NULL,
	[DoctorStatus] [nvarchar](30) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Substances]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Substances](
	[Name] [nvarchar](255) NOT NULL,
	[LethalDose] [real] NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_Substances] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDiscounts]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDiscounts](
	[UserId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[DiscountPercentage] [real] NOT NULL,
 CONSTRAINT [PK_UserDiscounts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotifications]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotifications](
	[UserId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[IsFavorite] [bit] NOT NULL,
	[IsStockAlert] [bit] NOT NULL,
 CONSTRAINT [PK_UserNotifications] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/7/2026 11:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](512) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
	[StartPeriodDate] [date] NOT NULL,
	[CycleDays] [int] NOT NULL,
	[PeriodLasts] [int] NOT NULL,
	[PremenstrualSyndromeOption] [int] NOT NULL,
	[DiscountNotifications] [bit] NOT NULL,
	[LoyaltyPoints] [int] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260504153419_InitialCreate', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260504192054_migrationes', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260504193035_skibididopdopdopdyesyes', N'8.0.11')
GO
INSERT [dbo].[HighRiskMedicines] ([MedicineName], [WarningMessage]) VALUES (N'Methotrexate', N'Hepatotoxic - confirm dosing and weekly schedule.')
INSERT [dbo].[HighRiskMedicines] ([MedicineName], [WarningMessage]) VALUES (N'Warfarin', N'Anticoagulant - check INR before prescribing.')
GO
INSERT [dbo].[ItemBatches] ([ItemId], [ExpirationDate], [NumberOfPacks]) VALUES (1, CAST(N'2027-01-01' AS Date), 39)
INSERT [dbo].[ItemBatches] ([ItemId], [ExpirationDate], [NumberOfPacks]) VALUES (3, CAST(N'2027-01-01' AS Date), 25)
INSERT [dbo].[ItemBatches] ([ItemId], [ExpirationDate], [NumberOfPacks]) VALUES (4, CAST(N'2027-01-01' AS Date), 18)
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [Name], [Producer], [Price], [Category], [ImagePath], [NumberOfPills], [Quantity], [Label], [Description], [DiscountPercentage]) VALUES (1, N'Nurofen Express', N'Reckitt', 28.5, N'pain relief', N'Assets/nurofen.png', 20, 40, N'Fast pain relief', N'Ibuprofen capsules for pain and inflammation', 0)
INSERT [dbo].[Items] ([Id], [Name], [Producer], [Price], [Category], [ImagePath], [NumberOfPills], [Quantity], [Label], [Description], [DiscountPercentage]) VALUES (2, N'Panadol Extra', N'GSK', 19.99, N'pain relief', N'Assets/panadol.png', 0, 0, N'Extra strength', N'Paracetamol tablets for headaches and fever', 10)
INSERT [dbo].[Items] ([Id], [Name], [Producer], [Price], [Category], [ImagePath], [NumberOfPills], [Quantity], [Label], [Description], [DiscountPercentage]) VALUES (3, N'Magne B6', N'Sanofi', 32, N'wellness', N'Assets/magneb6.png', 50, 25, N'Magnesium support', N'Magnesium and vitamin B6 supplement', 0)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
INSERT [dbo].[ItemSubstances] ([ItemId], [SubstanceName], [Concentration]) VALUES (1, N'Ibuprofen', 400)
INSERT [dbo].[ItemSubstances] ([ItemId], [SubstanceName], [Concentration]) VALUES (2, N'Paracetamol', 500)
INSERT [dbo].[ItemSubstances] ([ItemId], [SubstanceName], [Concentration]) VALUES (3, N'Magnesium', 150)
GO
SET IDENTITY_INSERT [dbo].[MedicalEvaluations] ON 

INSERT [dbo].[MedicalEvaluations] ([EvaluationID], [PatientId], [Symptoms], [MedicationsList], [Notes], [EvaluationDate], [DoctorId]) VALUES (1, N'PAT-001', N'Headache, fever, fatigue', N'Panadol Extra', N'Patient advised to rest and hydrate', CAST(N'2026-04-10T09:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[MedicalEvaluations] ([EvaluationID], [PatientId], [Symptoms], [MedicationsList], [Notes], [EvaluationDate], [DoctorId]) VALUES (2, N'PAT-002', N'Joint pain, swelling', N'Nurofen Express', N'Referred for physiotherapy', CAST(N'2026-04-11T10:30:00.0000000' AS DateTime2), 1)
INSERT [dbo].[MedicalEvaluations] ([EvaluationID], [PatientId], [Symptoms], [MedicationsList], [Notes], [EvaluationDate], [DoctorId]) VALUES (3, N'PAT-003', N'Nausea, abdominal pain', N'Espumisan', N'Follow-up in 1 week', CAST(N'2026-04-12T11:00:00.0000000' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[MedicalEvaluations] OFF
GO
INSERT [dbo].[OrderItems] ([OrderId], [ItemId], [OrderQuantity], [Price]) VALUES (1, 1, 2, 28.5)
INSERT [dbo].[OrderItems] ([OrderId], [ItemId], [OrderQuantity], [Price]) VALUES (1, 5, 1, 22)
INSERT [dbo].[OrderItems] ([OrderId], [ItemId], [OrderQuantity], [Price]) VALUES (2, 14, 1, 29.5)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [ClientId], [PickUpDate], [IsCompleted], [IsExpired]) VALUES (1, 2, CAST(N'2026-04-15' AS Date), 1, 0)
INSERT [dbo].[Orders] ([Id], [ClientId], [PickUpDate], [IsCompleted], [IsExpired]) VALUES (2, 3, CAST(N'2026-04-25' AS Date), 0, 0)
INSERT [dbo].[Orders] ([Id], [ClientId], [PickUpDate], [IsCompleted], [IsExpired]) VALUES (3, 2, CAST(N'2026-03-10' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[PeriodNotes] ([UserId], [NoteId], [NoteBody], [IsDone]) VALUES (3, 1, N'Take magnesium supplement', 1)
INSERT [dbo].[PeriodNotes] ([UserId], [NoteId], [NoteBody], [IsDone]) VALUES (3, 2, N'Drink herbal relax tea', 0)
INSERT [dbo].[PeriodNotes] ([UserId], [NoteId], [NoteBody], [IsDone]) VALUES (3, 3, N'Buy more Femina Comfort', 0)
GO
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([Id], [StaffId], [Location], [StartTime], [EndTime], [Status]) VALUES (1, 1, N'Clinic', CAST(N'2026-05-05T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-05T08:00:00.0000000' AS DateTime2), N'ACTIVE')
INSERT [dbo].[Shifts] ([Id], [StaffId], [Location], [StartTime], [EndTime], [Status]) VALUES (2, 2, N'ER', CAST(N'2026-05-05T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-05T08:00:00.0000000' AS DateTime2), N'SCHEDULED')
INSERT [dbo].[Shifts] ([Id], [StaffId], [Location], [StartTime], [EndTime], [Status]) VALUES (3, 3, N'ER', CAST(N'2026-05-05T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-05T08:00:00.0000000' AS DateTime2), N'SCHEDULED')
SET IDENTITY_INSERT [dbo].[Shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffID], [Email], [PasswordHash], [Role], [Department], [FirstName], [LastName], [ContactInfo], [Available], [LicenseNumber], [Specialization], [Status], [Certification], [YearsOfExperience], [HourlyRate], [DoctorStatus]) VALUES (1, N'house@hospital.local', N'hash', N'Doctor', N'Diagnostics', N'Gregory', N'House', N'555-0101', 1, N'LIC-1001', N'Diagnostician', N'AVAILABLE', N'Board Certified', 10, 150, NULL)
INSERT [dbo].[Staff] ([StaffID], [Email], [PasswordHash], [Role], [Department], [FirstName], [LastName], [ContactInfo], [Available], [LicenseNumber], [Specialization], [Status], [Certification], [YearsOfExperience], [HourlyRate], [DoctorStatus]) VALUES (2, N'wilson@hospital.local', N'hash', N'Doctor', N'Oncology', N'James', N'Wilson', N'555-0102', 1, N'LIC-1002', N'Oncology', N'AVAILABLE', N'Board Certified', 8, 140, NULL)
INSERT [dbo].[Staff] ([StaffID], [Email], [PasswordHash], [Role], [Department], [FirstName], [LastName], [ContactInfo], [Available], [LicenseNumber], [Specialization], [Status], [Certification], [YearsOfExperience], [HourlyRate], [DoctorStatus]) VALUES (3, N'cuddy@hospital.local', N'hash', N'Doctor', N'Admin', N'Lisa', N'Cuddy', N'555-0103', 1, N'LIC-1003', N'Surgery', N'AVAILABLE', N'Board Certified', 12, 160, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
INSERT [dbo].[Substances] ([Name], [LethalDose], [Description]) VALUES (N'Acetylcysteine', 3000, N'Mucolytic agent to clear mucus')
INSERT [dbo].[Substances] ([Name], [LethalDose], [Description]) VALUES (N'Calcium', 2500, N'Mineral supplement for bones and muscles')
INSERT [dbo].[Substances] ([Name], [LethalDose], [Description]) VALUES (N'Cetirizine', 500, N'Antihistamine for allergy relief')
GO
INSERT [dbo].[UserDiscounts] ([UserId], [ItemId], [DiscountPercentage]) VALUES (2, 1, 5)
INSERT [dbo].[UserDiscounts] ([UserId], [ItemId], [DiscountPercentage]) VALUES (3, 14, 15)
GO
INSERT [dbo].[UserNotifications] ([UserId], [ItemId], [IsFavorite], [IsStockAlert]) VALUES (2, 5, 1, 0)
INSERT [dbo].[UserNotifications] ([UserId], [ItemId], [IsFavorite], [IsStockAlert]) VALUES (2, 11, 0, 1)
INSERT [dbo].[UserNotifications] ([UserId], [ItemId], [IsFavorite], [IsStockAlert]) VALUES (3, 14, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PhoneNumber], [PasswordHash], [IsAdmin], [Username], [IsDisabled], [StartPeriodDate], [CycleDays], [PeriodLasts], [PremenstrualSyndromeOption], [DiscountNotifications], [LoyaltyPoints], [Role]) VALUES (1, N'admin@pharmacy.local', N'0700000000', N'hashed_pwd_admin', 1, N'admin_super', 0, CAST(N'1900-01-01' AS Date), 28, 5, 0, 1, 1000, N'Admin')
INSERT [dbo].[Users] ([Id], [Email], [PhoneNumber], [PasswordHash], [IsAdmin], [Username], [IsDisabled], [StartPeriodDate], [CycleDays], [PeriodLasts], [PremenstrualSyndromeOption], [DiscountNotifications], [LoyaltyPoints], [Role]) VALUES (2, N'johndoe@test.com', N'0711111111', N'hashed_pwd_john', 0, N'johndoe', 0, CAST(N'1900-01-01' AS Date), 28, 5, 0, 1, 150, N'Client')
INSERT [dbo].[Users] ([Id], [Email], [PhoneNumber], [PasswordHash], [IsAdmin], [Username], [IsDisabled], [StartPeriodDate], [CycleDays], [PeriodLasts], [PremenstrualSyndromeOption], [DiscountNotifications], [LoyaltyPoints], [Role]) VALUES (3, N'janedoe@test.com', N'0722222222', N'hashed_pwd_jane', 0, N'janedoe', 0, CAST(N'2026-01-01' AS Date), 28, 5, 0, 0, 45, N'Client')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'Client') FOR [Role]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Staff_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Staff_DoctorId]
GO
ALTER TABLE [dbo].[ERRequests]  WITH CHECK ADD  CONSTRAINT [FK_ERRequests_Staff_AssignedDoctorId] FOREIGN KEY([AssignedDoctorId])
REFERENCES [dbo].[Staff] ([StaffID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ERRequests] CHECK CONSTRAINT [FK_ERRequests_Staff_AssignedDoctorId]
GO
ALTER TABLE [dbo].[HangoutParticipants]  WITH CHECK ADD  CONSTRAINT [FK_HangoutParticipants_Hangouts_HangoutId] FOREIGN KEY([HangoutId])
REFERENCES [dbo].[Hangouts] ([HangoutID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangoutParticipants] CHECK CONSTRAINT [FK_HangoutParticipants_Hangouts_HangoutId]
GO
ALTER TABLE [dbo].[HangoutParticipants]  WITH CHECK ADD  CONSTRAINT [FK_HangoutParticipants_Staff_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangoutParticipants] CHECK CONSTRAINT [FK_HangoutParticipants_Staff_StaffId]
GO
ALTER TABLE [dbo].[ItemBatches]  WITH CHECK ADD  CONSTRAINT [FK_ItemBatches_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemBatches] CHECK CONSTRAINT [FK_ItemBatches_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemSubstances]  WITH CHECK ADD  CONSTRAINT [FK_ItemSubstances_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemSubstances] CHECK CONSTRAINT [FK_ItemSubstances_Items_ItemId]
GO
ALTER TABLE [dbo].[ItemSubstances]  WITH CHECK ADD  CONSTRAINT [FK_ItemSubstances_Substances_SubstanceName] FOREIGN KEY([SubstanceName])
REFERENCES [dbo].[Substances] ([Name])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemSubstances] CHECK CONSTRAINT [FK_ItemSubstances_Substances_SubstanceName]
GO
ALTER TABLE [dbo].[MedicalEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_MedicalEvaluations_Staff_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[MedicalEvaluations] CHECK CONSTRAINT [FK_MedicalEvaluations_Staff_DoctorId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Staff_RecipientStaffId] FOREIGN KEY([RecipientStaffId])
REFERENCES [dbo].[Staff] ([StaffID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Staff_RecipientStaffId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Items_ItemId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_ClientId]
GO
ALTER TABLE [dbo].[PeriodNotes]  WITH CHECK ADD  CONSTRAINT [FK_PeriodNotes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeriodNotes] CHECK CONSTRAINT [FK_PeriodNotes_Users_UserId]
GO
ALTER TABLE [dbo].[PharmacyHandovers]  WITH CHECK ADD  CONSTRAINT [FK_PharmacyHandovers_Staff_PharmacistId] FOREIGN KEY([PharmacistId])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[PharmacyHandovers] CHECK CONSTRAINT [FK_PharmacyHandovers_Staff_PharmacistId]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Staff_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Staff_StaffId]
GO
ALTER TABLE [dbo].[ShiftSwapRequests]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSwapRequests_Shifts_ShiftId] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[ShiftSwapRequests] CHECK CONSTRAINT [FK_ShiftSwapRequests_Shifts_ShiftId]
GO
ALTER TABLE [dbo].[ShiftSwapRequests]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSwapRequests_Staff_ColleagueId] FOREIGN KEY([ColleagueId])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[ShiftSwapRequests] CHECK CONSTRAINT [FK_ShiftSwapRequests_Staff_ColleagueId]
GO
ALTER TABLE [dbo].[ShiftSwapRequests]  WITH CHECK ADD  CONSTRAINT [FK_ShiftSwapRequests_Staff_RequesterId] FOREIGN KEY([RequesterId])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[ShiftSwapRequests] CHECK CONSTRAINT [FK_ShiftSwapRequests_Staff_RequesterId]
GO
ALTER TABLE [dbo].[UserDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_UserDiscounts_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDiscounts] CHECK CONSTRAINT [FK_UserDiscounts_Items_ItemId]
GO
ALTER TABLE [dbo].[UserDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_UserDiscounts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDiscounts] CHECK CONSTRAINT [FK_UserDiscounts_Users_UserId]
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD  CONSTRAINT [FK_UserNotifications_Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNotifications] CHECK CONSTRAINT [FK_UserNotifications_Items_ItemId]
GO
ALTER TABLE [dbo].[UserNotifications]  WITH CHECK ADD  CONSTRAINT [FK_UserNotifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNotifications] CHECK CONSTRAINT [FK_UserNotifications_Users_UserId]
GO
